@import "tailwindcss";

/* -------------------------
   1. Default (Light Theme)
-------------------------- */
:root {
  --bg-dark: #f0f0f0;
  --bg: #f7f7f7;
  --bg-light: #ffffff;

  --text: #0d0d0d;
  --text-muted: #4d4d4d;

  --border: #b2b2b2;

  --primary: #5353c6;
  --secondary: #ffffff;

  /* ------ Constants------ */
  --c-white: ffffff;
  --c-black: 000000;
}

/* -------------------------
   2. Dark Theme (System-based)
-------------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #000000;
    --bg: #0d0d0d;
    --bg-light: #1a1a1a;

    --text: #f2f2f2;
    --text-muted: #b2b2b2;

    --border: #4d4d4d;

    --primary: #3939ac;
    --secondary: #ffffff;
  }
}

/* -------------------------
   3. Tailwind Token Mapping
   Lets you use bg-bg, text-text, border-border, etc.
-------------------------- */
@theme inline {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-c-white: var(--c-white);
  --color-c-black: var(--c-black);
}

/* -------------------------
   4. Base Styles
-------------------------- */
html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}
